extends _layout/layout

//- Các giá trị mặc định cho trang web
block variables
	- var title = 'Home'
	- var description = 'Description for home page'
	- var bodyclass = 'home'

//- Phần khai báo body
block body
	section.home-menu.owl-carousel.owl-theme
		.item
			figure 
				img(src="./img/slider_img_01.png", alt="")
			.title.container
				.content
					h3 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatum laudantium obcaecati hic quas, ratione delectus aliquid assumenda illum. Assumenda distinctio possimus commodi praesentium perspiciatis debitis, inventore consectetur harum! Culpa.
					.link
						a(href="#") Click Here
		.item
			figure 
				img(src="./img/slider_img_01.png", alt="")
			.title.container
				.content
					h3 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatum laudantium obcaecati hic quas, ratione delectus aliquid assumenda illum. Assumenda distinctio possimus commodi praesentium perspiciatis debitis, inventore consectetur harum! Culpa.
					.link
						a(href="#") Click Here
		.item
			figure 
				img(src="./img/slider_img_01.png", alt="")
			.title.container
				.content
					h3 Lorem ipsum dolor sit amet consectetur, adipisicing elit.
					p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam voluptatum laudantium obcaecati hic quas, ratione delectus aliquid assumenda illum. Assumenda distinctio possimus commodi praesentium perspiciatis debitis, inventore consectetur harum! Culpa.
					.link
						a(href="#") Click Here
	section.home-about
		.title
			h2 Why
				span  Choose Us
			p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et placeat voluptatem quia ullam consequatur minus ut dolor perferendis mollitia laudantium,
		.content.container
			.row
				.col-sm-4
					.item
						figure
							img(src="./img/about_icon_01.png", alt="", srcset="")
						h3 Lorem ipsum dolor sit
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores optio ut repellendus deleniti beatae voluptatum nemo reprehenderit neque adipisci facere? Impedit iste accusamus, autem saepe animi ullam recusandae quaerat dignissimos.
				.col-sm-4
					.item
						figure
							img(src="./img/about_icon_02.png", alt="", srcset="")
						h3 Lorem ipsum dolor sit
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores optio ut repellendus deleniti beatae voluptatum nemo reprehenderit neque adipisci facere? Impedit iste accusamus, autem saepe animi ullam recusandae quaerat dignissimos.
				.col-sm-4
					.item
						figure
							img(src="./img/about_icon_03.png", alt="", srcset="")
						h3 Lorem ipsum dolor sit
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores optio ut repellendus deleniti beatae voluptatum nemo reprehenderit neque adipisci facere? Impedit iste accusamus, autem saepe animi ullam recusandae quaerat dignissimos.
	section.home-work
		.container
			.row
				.col-md-6
					h2 Why 
						span Choose Us
						i
					h3 Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cumque, vel?
					span Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis fugiat velit dicta quo quae odit autem corrupti neque tenetur maxime, facere deleniti architecto minus quidem libero maiores. Harum quidem quae natus in eligendi provident esse veritatis deleniti beatae architecto. Quo sequi adipisci expedita. Recusandae velit quam a pariatur culpa dolorum.
					button.btn CLICK HERE
				.col-md-6
					.content
						.scrollbar Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur adipisci ratione quod corporis nobis, alias nulla molestiae error doloribus doloremque facilis. Alias illum similique voluptatem possimus, hic totam, ab nulla, explicabo quidem maiores dolores consequatur corporis officiis sapiente minima! Dolores molestiae enim non eveniet asperiores inventore vel, ipsum neque perspiciatis ipsam illum hic tenetur nisi iusto commodi veritatis itaque quaerat veniam soluta porro a, officia harum. Rerum tenetur, suscipit, voluptatem similique quibusdam ratione laborum animi quo dolor aliquam nemo atque praesentium quaerat. Explicabo nemo temporibus eum voluptas expedita illum maxime eaque sunt aut quod excepturi nisi corrupti similique quis aspernatur officiis a modi, nam eligendi, sed error, nulla dolore aliquid tenetur? Eveniet fugit nostrum sapiente omnis est mollitia doloribus odit error quae natus alias nam, quidem sunt ex enim possimus! Magnam minima accusantium ratione possimus sint doloremque provident esse tenetur rem eaque, qui numquam autem sunt consequatur magni alias. Vel.lorem, ipsum dolor sit amet consectetur adipisicing elit. Omnis vel repudiandae quisquam magnam, magni provident distinctio neque tempora id commodi nemo, minus aliquid deserunt nulla doloribus? Qui consequuntur sunt ut!
							.force-overflow
